.features-class {
    padding-top: 6rem;
    padding-bottom: 4rem;
    text-align: center;
    background-color: #dfd3d3;

}

.features-class h1{
    display: inline-block;
    font-size: 4.5rem;
    width: 100vw;
}

.feature-card-container {
    max-width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.features-cards {
    margin: 0.8rem;
    width: 25rem;
    border-radius: 18px;
    border: 2px solid black;
}

.features-cards-img {
    align-items: center;
    width: 350px;
    margin: 2rem auto;
}