.landing-class {
    color:white;
    text-align: start;
    margin: 2rem auto;
    height: 100vh;
}

.landing-class h1 {
    padding-left: 10vw;
    padding-top: 20rem;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size:8vmax;
}