.landing-class {
    color:white;
    text-align: start;
    margin: 2rem auto;
    height: 100vh;
}

.landing-class h1 {
    padding-left: 10vw;
    padding-top: 20rem;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size:8vmax;
}

.sub-heading-landing {
    opacity: 1;
    padding: 1rem;
    background: rgba(192, 192, 192, 0.5);
    padding-left: 15vw;
    font-size: 6vmax;
}