html {
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #fbf0f0;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}


/* Colour Scheme One
#1e2022
#c9d6df
#52616b
#f0f5f9
*/

/* Colour Scheme Two
#7c7575
#b8b0b0
#dfd3d3
#fbf0f0
*/